<h2>We are sorry to see you go!</h2>

<%= @user.first_name %>,
</br>
</br>
Per your request, your profile has been deleted.
</br>
</br>
Thank you for using lifteri. We hope you have enjoyed traveling with us and hope
to see you again in the near future!
</br>
</br>
<b>-your friends at lifteri</b>
